
.logo {
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px; /* Adjust the height as needed */
	/* Optional: Add background color or any other styles */
}

.logo img {
	max-width: 100%;
	max-height: 100%;
}

.img{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: -50px;
}

.bodylogo{

	width: 60%;
	height: 60%;

}

H4{
	text-align: center;
}
ul {
	list-style-type: none;
	overflow: hidden;
	background-color: #333;
	display: flex;
	justify-content: space-around;
	border: 0;
	outline: 0;
	border-radius: 3px;
	align-items: center;
	font-size: 25px;
	margin-bottom: 0;
  }
  
  li {
	float: left;
  }
  
  li a, .dropbtn {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
	background-color: red;
	cursor: pointer;
  }
  
  li.dropdown {
	display: inline-block;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
	display: block;
  }